a.icon-block {
    display:inline-block;
    color: rgb(255, 255, 255);
    width:10em;
    text-decoration: none;
    float:left;
    text-align:center;
}
a.icon-block:hover {
    color: rgb(63, 63, 63);
}
a.icon-block i,
a.icon-block span {
    display:block;
    width:100%;
    clear:both;
}